 {% load static %}

<!-- footer section start -->
  <div class="section_footer ">
      <div class="container">
          <div class="footer_section_2">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                  <h2 class="account_text">About Us</h2>
                  <p class="ipsum_text_2">Import and export of goods connect countries and support the global economy.</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                  <h2 class="account_text">Services</h2>
                  <div class="useful_link">
                    <ul>
                      <li><a href="#">FCL (Full Container Load)</a></li>
                      <li><a href="#">LCL (Less than Container Load)</a></li>
                      <li><a href="#">Ro-Ro (Roll-on/Roll-off)</a></li>
                        <li><a href="#">Door-to-door</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                <h2 class="account_text">Contact Us</h2>
                <p class="ipsum_text_2"> With all your requirements contact manager of the team.</p>
                </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <h2 class="account_text">VJ GLOBAL S.A.R.L</h2>
                <p class="ipsum_text_2">Company focused on international trade and services for people and businesses.</p>
          </div>
        </div>
      </div>
      <div class="social_icon">
        <ul>
          <li><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><img src="/static/images/fb-icon.png"></a></li>
          <li><a href="https://twitter.com" target="_blank" rel="noopener noreferrer"><img src="/static/images/twitter-icon.png"></a></li>
          <li><a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"><img src="/static/images/linkdin-icon.png"></a></li>
          <li><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><img src="/static/images/instagram-icon.png"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- footer section end -->