  <!-- banner section -->
<div class="banner_section layout_padding">
    <div class="container">
      <div id="my_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-6">
                <h1 class="video_text">OUR</h1>
                <h1 class="controller_text">PRODUCTS</h1>
              </div>
              <div class="col-md-6">
                <a href="/static/images/Foto_4.jpg" class="fancybox" data-fancybox="gallery">
                <img src="/static/images/Foto_4.jpg" style="width:300px; height:auto; cursor:pointer;" alt="Slide 1">
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-6">
                <h1 class="video_text">OUR</h1>
                <h1 class="controller_text">PRODUCTS</h1>
              </div>
              <div class="col-md-6">
                <a href="/static/images/Foto_1.jpg" class="fancybox" data-fancybox="gallery">
                <img src="/static/images/Foto_1.jpg" style="width:99%; height:auto; cursor:pointer;">
                </a>
            </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-6">
                <h1 class="video_text">OUR</h1>
                <h1 class="controller_text">JOBS</h1>
              </div>
              <div class="col-md-6">
                <a href="/static/images/Foto_2.jpg" class="fancybox" data-fancybox="gallery">
                <img src="/static/images/Foto_2.jpg" style="width:300px; height:auto; cursor:pointer;">
                </a>
            </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-6">
                <h1 class="video_text">OUR</h1>
                <h1 class="controller_text">PRODUCTS</h1>
              </div>
              <div class="col-md-6">
                <a href="/static/images/Foto_3.jpg" class="fancybox" data-fancybox="gallery">
                <img src="/static/images/Foto_3.jpg" style="width:300px; height:auto; cursor:pointer;">
                </a>
            </div>
          </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
    </div>
  </div>
</div>
  <!-- banner section end -->
