{% load static %}

<!-- testimonial section start -->
  <div class="testimonial_section layout_padding">
    <div class="container">
      <h1 class="testimonial_text">Testimonial</h1>
      <p class="ipsum_text">At VJ Global Management, we take pride in delivering reliable, efficient, and seamless transportation and logistics solutions across the world. From container shipping to full-service supply chain support, our mission is to move your products safely, on time, and with complete transparency.</p>
      <div class="testimonial_section_2">
        <div class="box_main">
          <div class="quote_icon"><img src="/static/images/quote-icon.png"></div>
          <p class="dolor_text"> Working with VJ Global Management has transformed the way we handle international shipping. Their team consistently ensures smooth coordination, precise tracking, and exceptional care for our cargo—from everyday consumer goods to specialized products. Their professionalism and commitment to excellence make them a trusted partner in global logistics.</p>
          <div class="client_main">
            <div class="client_left">
            </div>
            <div class="client_right">
            </div>
          </div>
        </div>
      </div>
      <div class="see_main">
        <div class="see_bt"><a href="#">See More</a></div>
      </div>
    </div>
  </div>
  <!-- testimonial section end -->